<!DOCTYPE html>
<html>
  <head>
    <title>API | E-COMMERCE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>E-COMMERCE</h1>
    <p>welcome to e-commerce API</p>
  </body>
</html>
